*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(49, 49, 83);
}
input[type = "number"]{
    border-radius: 10px;
    margin-top: 10px;
    border: none;
    padding: 20px;
    width: 300px;
}
button{
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    border: none;
    margin-right: 10px;
    font-size: 20px;
    text-align: center;
}
#output {
    margin-top: 20px;
    font-size: 18px;
    color: white;
  }